body{
  background-color: #ffc800;
}

.home{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.profilephoto{
  height: 55%;
  width: 54%;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
  background: linear-gradient(145deg, #e1a123, #ffc02a);
  box-shadow:  26px 26px 52px #966b17, -26px -26px 52px #fffb37;
}


.right{
  color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.nav{
  justify-self: center;
}

.nav a{
  padding: 20px;
  font-size: 30px;
  color: black;
  font-weight: 500;
  align-self: center;
}

.nav a:hover{
  text-decoration: none;
  color: rgb(240, 238, 238);
}

.pt{
  align-self: center;
  margin-top: -75px;
}

.share{
  justify-self: start;
}

.icon{
  border-radius: 50%;
  background: #ffc800;
  box-shadow:  10px 10px 20px #d9aa00,
             -10px -10px 20px #ffe600;
  padding: 12px;
  margin: 20px;
}

.icon:hover{
  border-radius: 50%;
  background: #ffc800;
  box-shadow: inset 10px 10px 20px #d9aa00,
            inset -10px -10px 20px #ffe600;
}

.projects{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.heading{
  justify-self: center;
  margin-top: 300px;
}

.projects h2{
  font-size: 48px;
}

li{
  list-style: none;
}

.project__indi{
  -webkit-border-radius: 50px; 
  border-radius: 20px; 
  background: #ffc800;
  -webkit-box-shadow: 12px 12px 24px #d9aa00,
  -12px -12px 24px #ffe600;
  box-shadow: 12px 12px 24px #d9aa00,
  -12px -12px 24px #ffe600;
  padding: 40px;
  margin-top: 45px;
  margin-right: 40px;
}

.label{
  font-size: 20px;
  font-weight: 600;
}

.labelans{
  font-size: 18px;
}

@media(max-width:900px){
  .home{  
    background-color: #ffc800;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr; 
    height: auto;
  }
  .profilephoto{
    height: 50%;
    width: 50%;
  }
  .pt{
    text-align: center;
  }
  .share{
    margin-left: 20%;
  }
  .nav a{
    padding: 10px;
    font-size: 20px;
    color: black;
    font-weight: 500;
  }
  .share{
    justify-self: start;
    left: 50%;
  }
  
}